body {
  font-family: 'Josefin Sans', sans-serif;
}

.bloco {
  float: left;
  height: 100vh;
}

.blocoA {
  background-color: #EFF0F4;
  width: 48vw;
}

.shadow {
  webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: inset 9px -14px 20px 20px #191826;
}

.blocoB {
  background-image: url('../images/milena.auto');
  background-color: #282738;
  background-size: cover;
  width: 52vw;
  background-position: top;
}

.blocoB footer {
  color: #fff;
  font-size: 2.5em;
  position: fixed;
  bottom: 0;
  right: 30px;
}

.assign p {
  text-align: right;
  text-shadow: 3px 4px 5px #222;
  display: inline;
}

.assign h3{
  font-family: 'Righteous', cursive;
  font-weight: bold;
  text-shadow: black;
  text-align: right;
  display: inline;
}

.bloco-form {
  margin: 0 auto;
  width: 500px;
  height: 600px;
}

.bloco-form label {
  display: inline-block;
  font-size: 2em;
  padding-bottom: 10px;
}

.bloco-form input {
  background-color: transparent;
  width: 37vw;
  height: 30px;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 2px solid #ED8399;
}

.bloco-form input:focus {
  outline: none;
  border-bottom: 3px solid #623E39;
}

.btn-primary {
  background: #ED8399;
  color: #fff;
  width: 120px;
  height: 40px;
  font-size: 1.5em;
  cursor: pointer;
  /* border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px; */
  border-radius: 50%;
}

.btn-primary:hover {
  background: #623E39;
  color: #fff;
}
::placeholder {
  color: #dfe4ea;
  font-size: 2.8em;
}

/*    Position - Brand */


.blocoA-brand {
  padding: 50px;
  position: relative;
}

.blocoA-logo {
  color: #000;
  font-size: 4em;
  display: inline;
}

.blocoA-subtitle {
  color: #000;
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  left: 190px;
  top: 100px;
}


.hint {
  font-size: 1.2em;
  line-height: 30px;
  color: rgb(172, 175, 184);
}


.footerA {
  position: relative;
}

.footerButton {
  color: #fff;
  font-size: 1em;
  height:40px;
  width: 180px;
  background-color: #C3B2D7;
  border-radius: 20px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}