<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Position</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <div class="container">
    <header>
      <h1> header</h1>
      <nav class="menu">
        <ul>
          <li>Item A</li>
          <li>Item B</li>
          <li>Item C</li>
        </ul>
      </nav>
    </header>

    <div class="content">
      <article>
        <p> conteudo</p>
      </article>
      <aside>
        <p> sidebar </p>
      </aside>
    </div>
    <footer>
      <p>rodape</p>
    </footer>
  </div>
</body>
</html>