body {
  background-color: #9b59b6;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 10px;
  border: 3px solid #fff;
  width: 400px;
  height: 450px;
  color: #000;
  margin: 0 10px 0 10px;
  justify-content: center;
  background-color: #fff;
}

button {
background-color: #f1c40f;
color: #000;
width: 80px;
height: 60px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .box {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

